@charset "UTF-8";

html {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #EDEEE9;
}

html body {
    font-family: "Inter", sans-serif;
    color: #303030;
  }

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

html .form__input {
    width: clamp(60px, 25vw, 210px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid #303030;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}
html .button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  html body .explanation {
    width: 60%;
    display: flex;
    justify-content: center;      
  }
  html body .explanation p {
    font-size: 1rem;
    max-width: 75ch;
    margin: 2rem 0;
  }
  html body .explanation ul:last-child {
    margin-bottom: 2rem;
  }
  html body .explanation ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  html body .explanation ul li {
    list-style: none;
    position: relative;
    margin: 0.5rem 0;
  }
  html body .explanation ul li::before {
    content: "👉";
    position: absolute;
    top: -0.25rem;
    left: -2rem;
  }